[dev-packages]

[packages]
requests = "==2.22.0"
feedparser = "==5.2.1"
"beautifulsoup4" = "==4.7.1"
lxml = "==4.3.4"
Django = "==2.2.2"
"psycopg2" = "*"
python-dateutil = "*"
gunicorn = "==19.9.0"

[requires]
python_version = "3.7"
