[dev-packages]

[packages]
requests = "==2.22.0"
feedparser = "==5.2.1"
"beautifulsoup4" = "==4.8.2"
lxml = "==4.4.2"
Django = "==3.1.7"
"psycopg2" = "*"
python-dateutil = "*"
gunicorn = "==20.0.4"

[requires]
python_version = "3.7"
