{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'subscriptions/home.css' %}" />
<script src="{% static 'subscriptions/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<section id="left-section" class="col-lg-6 col-sm-6">
  <div class="row">
    <h2 class="col-lg-10 col-lg-offset-2 col-md-offset-1">Videos</h2>
  </div>

  <div class="row">
    {% for video in videos %}
      <p>
        <a href="https://www.youtube.com/watch?v={{ video.id }}"><h5>{{ video.title }}</h5></a>
        {{ video.channel_id.name }}
        <button id="button_{{ video.id }}" onclick="showVideo('{{ video.id }}');">Video</button>
      </p>
    {% endfor %}
  </div>
  <div class="row">
    <ul class="pagination pagination-lg">
      {% if previous is not None %}
        <li><a href="?page={{ previous }}">&laquo;</a></li>
      {% endif %}
      {% for page in pages %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
      {% endfor %}
      <li><a href="?page={{ next }}">&raquo;</a></li>
    </ul>
  </div>
</section>

<section id="right-section" class="col-lg-6 col-sm-6">
  <div class="row">
    <div id="video_frame">
    </div>
  </div>
</section>
{% endblock %}
