{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'subscriptions/home.css' %}" />
<script src="{% static 'subscriptions/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<section id="videos-list" class="col-lg-12">
  <div class="list-group">
    {% for video in videos %}
    <div class="list-group-item">
      <p class="list-group-item-text">
        <a href="/channel/{{ video.channel_id.id }}">
          {{ video.channel_id.name }}
        </a>
      </p>
      <h4 class="list-group-item-heading">{{ video.title }}</h4>
      <div class="buttons">
        <button class="btn btn-primary" id="button_{{ video.id }}" onclick="showVideo('{{ video.id }}');">Watch here</button>
        <a href="https://www.youtube.com/watch?v={{ video.id }}" target="_blank"><button class="btn btn-primary" >Watch on YouTube</button></a>
      </div>
      <div id="video_frame_{{ video.id }}">
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<div class="col-lg-12" id="pagebar-container">
  <ul class="pagination pagination-lg">
    {% if previous_page is not None %}
      <li><a href="?page={{ previous_page }}">&laquo;</a></li>
    {% endif %}
    {% for page in pages %}
      {% if page_nb == page %}
        <li class="active"><a href="?page={{ page }}">{{ page }}</a></li>
      {% else %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
      {% endif %}
    {% endfor %}
    <li><a href="?page={{ next_page }}">&raquo;</a></li>
  </ul>
</div>
{% endblock %}
