{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'subscriptions/home.css' %}" />
{% endblock %}

{% block content %}
<section id="left-section" class="col-lg-6 col-sm-6">
  <div class="row">
    <h2 class="col-lg-10 col-lg-offset-2 col-md-offset-1">Videos</h2>
  </div>

  <div class="row">
    {% for video in videos %}
      <p>
        <a href="https://www.youtube.com/watch?v={{ video.id }}"><h5>{{ video.title }}</h5></a>
        {{ video.channel_id.name }}

        <button id="button_{{ video.id }}">Video</button>
      </p>

      <script>
          var button = document.getElementById('button_{{ video.id }}');
          button.addEventListener('click', function(){
            var frame = document.createElement('iframe');
            frame.setAttribute('src','https://www.youtube.com/embed/{{ video.id }}');
            frame.setAttribute('frameborder','0');
            frame.setAttribute('width','560');
            frame.setAttribute('height','315');
            frame.setAttribute('allowfullscreen','');

            var div_container = document.getElementById('video_frame')
            div_container.replaceChild(frame,div_container.firstChild);
          });
      </script>
    {% endfor %}
  </div>
  <div class="row">
    <ul class="pagination pagination-lg">
      {% if previous is not None %}
        <li><a href="?page={{ previous }}">&laquo;</a></li>
      {% endif %}
      {% for page in pages %}
        <li><a href="?page={{ page }}">{{ page }}</a></li>
      {% endfor %}
      <li><a href="?page={{ next }}">&raquo;</a></li>
    </ul>
  </div>
</section>

<section id="right-section" class="col-lg-6 col-sm-6">
  <div class="row">
    <div id="video_frame">
    </div>
  </div>
</section>
{% endblock %}
