{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<link rel="stylesheet" href="{% static 'subscriptions/home.css' %}" />
{% endblock %}

{% block content %}
<section id="channels-list" class="col-lg-12">
  <div class="list-group">
    {% for channel in channels %}
    <div class="list-group-item">
      <h4 class="list-group-item-heading">{{ channel.name }}</h4>
      <div class="buttons">
        <a href="/subscriptions/unsubscribe?channel_id={{ channel.id }}"><button class="btn btn-primary">Unsubscribe</button></a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
