h2{
  margin-bottom: 40px;
}

#pagebar-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group-item h4{
  margin-top: 20px;
  margin-bottom: 20px;
}

.buttons{
  margin-top: 10px;
  margin-bottom: 10px;
}

#channel-name{
  display: flex;
  align-items: center;
  justify-content: center;
}

#subbanner{
  display: flex;
  align-items: center;
  justify-content: center;
}
